<a href="https://colab.research.google.com/github/yunhyeok374/Python-study/blob/main/%08%EA%B3%BC%EC%A0%9C%EC%A0%9C%EC%B6%9C(%EC%97%B0%EC%8A%B5%EC%9A%A9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **테스트 코드**

In [ ]:
# 테스트 코드 작성

# q1 < q2

def ItFrac(q1, q2):
  x1, yㅣ1 = q1
  x2, y2 = q2
  return x1 * y2 < x2 * y1


def test_ItFrac():
  assert ItFrac((1,2), (1, 3)) == False
  assert ItFrac((3,5), (2, 3)) == True
  assert ItFrac((1,4), (1, 4)) == False
  assert ItFrac((0,1), (1, 1)) == True
  assert ItFrac((5,1), (10, 5)) == False

  # 분모가 0인 경우
  assert ItFrac((1, 0), (1, 1)) == False
  assert ItFrac((1, 1), (0, 0)) == False  


test_ItFrac()




# q1 > q2
def gtFrac(q1, q2):
  x1, y1 = q1 
  x2, y2 = q2
  return x1*y2 > x2*y1

def test_gtFrac():
  assert gtFrac((1,2), (1, 3)) == True 
  assert gtFrac((3,5), (2, 3)) == False
  assert gtFrac((1,6), (1,7)) == True
  assert gtFrac((5,5), (1,1)) == False
  assert gtFrac((3,2), (1,2)) == True

   # 분모가 0인 경우
  assert ItFrac((1, 0), (1, 1)) == False
  assert ItFrac((1, 1), (0, 0)) == False 


test_gtFrac()

In [ ]:
#q1 <= q2  

def leFrac(q1, q2):
  x1, y1 = q1
  x2, y2 = q2
  return x1*y2 <= x2*y1


def test_leFrac():
    # 두 분수가 같은 경우
    assert leFrac((1, 2), (1, 2)) == True

    # 첫 번째 분수가 두 번째 분수보다 작은 경우
    assert leFrac((1, 2), (1, 3)) == False
    assert leFrac((2, 3), (3, 4)) == True

    # 첫 번째 분수가 두 번째 분수보다 큰 경우
    assert leFrac((1, 3), (1, 2)) == True
    assert leFrac((3, 4), (2, 3)) == False

    # 분모가 0인 경우
    assert leFrac((1, 0), (1, 1)) == False
    assert leFrac((1, 1), (0, 0)) == True

test_leFrac() 

# q1 >= q2
def geFrac(q1, q2):
  x1, y1 = q1 
  x2, y2 = q2
  return x1*y2 >= x2*y1


def test_geFrac():
    # 두 분수가 같은 경우
    assert geFrac((1, 2), (1, 2)) == True

    # 첫 번째 분수가 두 번째 분수보다 큰 경우
    assert geFrac((1, 2), (1, 3)) == True
    assert geFrac((3, 4), (2, 3)) == True

    # 첫 번째 분수가 두 번째 분수보다 작은 경우
    assert geFrac((1, 3), (1, 2)) == False
    assert geFrac((2, 3), (3, 4)) == False

    # 분모가 0인 경우
    assert geFrac((1, 0), (1, 1)) == True
    assert geFrac((1, 1), (0, 0)) == True

test_geFrac() 


# q1 == q2
def eqFrac(q1, q2):
  x1, y1 = q1 
  x2, y2 = q2
  return x1*y2 == x2*y1


def test_eqFrac():
    # 두 분수가 같은 경우
    assert eqFrac((1, 2), (1, 2)) == True
    assert eqFrac((2, 3), (4, 6)) == True

    # 두 분수가 다른 경우
    assert eqFrac((1, 2), (1, 3)) == False
    assert eqFrac((2, 3), (3, 4)) == False

    # 분모가 0인 경우
    assert eqFrac((1, 0), (1, 1)) == False
    assert eqFrac((1, 1), (0, 0)) == True

test_eqFrac()

# **1번**

In [ ]:
import math # math.lcm, math.gcd 등등 활용을 위해 import

# 통분해서 계산하고 결과는 약분해서
def addFrac(q1, q2):
  pass

# 통분해서 계산하고 결과는 약분해서
def subFrac(q1, q2):
  pass

# q1을 q2로 나눈 몫(정수)과 나머지(유리수)를 순서쌍으로 리턴
# 나머지도 유리수이므로 마찬가지로 약분한 결과로
def divFrac(q1, q2):
  pass

In [ ]:
import math


def addFrac(q1, q2):
  x1, y1 = q1
  x2, y2 = q2


  # 최소 공배수 계산

  lcm = (y1 * y2) // math.gcd(y1, y2)

  # 분자를 공통 분모로 만들어서 더해주기

  x = x1 * (lcm // y1) + x2 * (lcm // y2) 

  gcd = math.gcd(x, lcm)
  x //= gcd
  lcm //= gcd

  return (x, lcm)


  # addFrac 테스트 코드

#case 1:
def test_addFrac1():
  q1 = (3, 4)
  q2 = (1, 2)
  result = addFrac(q1, q2)
  return result

test_addFrac1()

#case 2: (약분이 가능한지 확인)
def test_addFrac2():
  q1 = (3 ,10)
  q2 = (5, 10)
  result = addFrac(q1, q2)
  return result

test_addFrac2()

In [ ]:
import math

def subFrac(q1, q2):
  x1, y1 = q1
  x2, y2 = q2


  # 두 분수의 분모의 최소 공배수를 계산합니다.
  lcm = (y1 * y2) // math.gcd(y1, y2)

  #분자를 공통 분모로 만들어주고 빼주기
  x = x1 * (lcm // y1) - x2 * (lcm // y2)

  gcd = math.gcd(x, lcm)
  x //= gcd
  lcm //= gcd

  return (x, lcm)


  #subFrac 테스트 코드


  #테스트 1: 두 분수의 분자가 같고 분모가 다른 경우

  q1 = (3,4)
  q2 = (3,8)
  result = subFrac(q1,q2)
  print(result)


  #테스트 2: 두 분수의 분모가 같고 분자가 다른 경우
  q1 = (1, 4)
  q2 = (3, 4)
  result = subFrac(q1, q2)
  print(result)

  #테스트 3: 두 분수의 분자와 분모가 모두 다른 경우
  q1 = (1, 5)
  q2 = (3, 7)
  result = subFrac(q1, q2)
  print(result)

In [ ]:
import  math

def divFrac(q1,q2):
  #분수 q1과 q2의 분자와 분모를 얻습니다.

  x1, y1 = q1
  x2, y2 = q2

  # 두 분수를 나눈다

  x = x1 * y2
  y = x2 * y1


  #결과 분수를 약분한다.

  gcd = math.gcd(x, y)
  x //= gcd
  y //= gcd

  return(x, y)


#테스트 코드
# 테스트 1: 두 분수의 분자와 분모가 모두 같은 경우

q1 = (1, 2)
q2 = (1, 2)
result = divFrac(q1, q2)
print(result)


#테스트 2: 첫 번째 분수의 분자가 0인 경우
q1 = (0, 3)
q2 = (2, 5)
result = divFrac(q1, q2)
print(result)


#테스트 3: 두 분수의 분모가 같고 분자가 서로 다른 경우
q1 = (1, 4)
q2 = (3, 4)
result = divFrac(q1, q2)
print(result)


#테스트 4: 두 분수의 분자가 분모가 모두 다른 경우
q1 = (1, 5)
q2 = (3, 7)
result = divFrac(q1, q2)
print(result)

(1, 1)
(0, 1)
(1, 3)
(7, 15)

# **문제 2번**

In [ ]:
def digit2int(digit):
    """
    문자로 된 숫자나 알파벳을 10진수 숫자로 변환하는 함수

    :param digit: 문자로 된 숫자나 알파벳 (0~9, A~Z)
    :return: 10진수 숫자
    """
    if digit.isdigit():  # digit이 숫자인 경우
        return int(digit)
    else:  # digit이 알파벳인 경우
        return ord(digit) - ord('A') + 10

In [ ]:
def digit2int(digit):

  if digit.isdigit():  # digit 이 숫자인 경우
    return int(digit)
  else:
    return ord(digit) - ord('A') +10

  

def test_digit2int():
    assert digit2int('0') == 0
    assert digit2int('5') == 5
    assert digit2int('9') == 9
    assert digit2int('A') == 10
    assert digit2int('B') == 11
    assert digit2int('Z') == 35

    print('All test cases pass')


test_digit2int()

All test cases pass

In [ ]:
print( int('ZZ',36) )
print( 35*36 + 35 )

1295
1295

In [ ]:
def convert_base_nat(mstr, m, n):
    """
    m진법 자연수 mstr을 n진법 자연수로 변환하는 함수

    :param mstr: m진법 자연수를 나타내는 문자열
    :param m: m진법 (2 이상, 10 이하의 자연수)
    :param n: n진법 (2 이상, 10 이하의 자연수)
    :return: n진법 자연수를 나타내는 문자열
    """

    # m진법 자연수를 10진법 자연수로 변환
    decimal = 0
    for i in range(len(mstr)):
        decimal += int(mstr[i]) * m ** (len(mstr) - i - 1)

    # 10진법 자연수를 n진법 자연수로 변환
    result = ''
    while decimal > 0:
        result = str(decimal % n) + result
        decimal //= n

    return result if result else '0'

'0b101'

In [ ]:
def convert_base_nat(mstr, m, n):

  #m 진법 자연수를 10진법 자연수로 변환
  decimal = 0 
  for i in range(len(mstr)):
    decimal += int(mstr[i]) * m ** (len(mstr) - i -1)

    #10 진법 자연수를 n 진법 자연수로 변환

    result = '' 
    while decimal > 0:
      result = str(decimal % n ) + result 
      deciaml //= n

    return result if result else '0'

In [5]:
def convert2binary(num):
    temp = []

    while True:
        remainder = num % 2
        num = num // 2
        temp.append(remainder)
        
        if num < 2:
            temp.append(num)
            break

    temp.reverse()
    result = "".join(map(str, temp))
    return result

num = 25
binary_num = convert2binary(num)
print(binary_num)

11001

In [9]:
def convert2binary(num):
  temp = []

  while True:
    remainder = num % 2
    num = num // 2
    temp.append(remainder)

    if num < 2:
      temp.append(num)
      break

  temp.reverse()
  result = "".join(map(str, temp))
  return result
  
num = 25
binary_num = convert2binary(num)
print(binary_num)


def Testconvert2(num1):
  temp1 = []

  while True:
    remainder = num1 % 8
    num1 = num1 // 8
    temp1.append(remainder)

    if num1 < 8:
      temp1.append(num1)
      break

  temp1.reverse()
  result = "".join(map(str, temp1))
  return result


num1 = 15
resule8 = Testconvert2(num1)
print(resule8)

11001
17

In [17]:
result = ''

def convert_base_nat(mstr, m, n):

  # m진법에서 10진법로 변환하기.

  num = 0 
  for i in range(len(mstr)):
    num += int(mstr[i]) * m **(len(mstr) - i - 1)

 # 10진법 에서 n진법으로 변환하기

  while True:
    reuslt += num % n
    num = num // n

    if num < n:
      reuslt += n
      break

None